
.timeline-right {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .timeline-line-right {
    position: absolute;
    width: 2px;
    background-color: #999;
    top: 0;
    left: auto;
    right: 110px; /* Adjust this to position the line */
    bottom: 0;
    margin-right: -1px;
    height: 100%;
  }
  
  .timeline-point-right {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 1px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .timeline-item-right {
    display: flex;
    position: relative;
    margin-bottom: 40px;
  }
  
  .timeline-content-right {
    flex: 1;
    padding-right: 20px;
  }
  
  .timeline-date-right {
    width: 120px;
    text-align: right;
    padding-left: 20px;
    font-weight: bold;
  }
  